<div *ngIf="city">
	<h1>Welcome to {{city.name}}!</h1>
	<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Burbank_media_district_from_Griffith_Park_2015-11-07.jpg/1200px-Burbank_media_district_from_Griffith_Park_2015-11-07.jpg" alt="burbank.jpg" style="height:400px">
  

    	<p>
  	Humidity: {{city.main.humidity}} <br>
  	Temperature (Average): {{city.main.temp}}	<br>
  	Temperature (High): {{city.main.temp_max}} <br>
  	Temperature (Low): {{city.main.temp_min }} <br>
  	Status: {{city.weather[0].description}}
  </p>
</div>
